@model Transferencia_Datos.Rol_DTO.Registrados_Rol

@{
    ViewData["Title"] = "REGISTROS";
}

<style>
    /* Estilos Del Cuadro */
    .form-container {
        max-width: 450px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        /* Estilos Para h1 */
        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 10px;
        }

        .form-container label {
            font-weight: bold;
        }
</style>


<!-- CUERPO HTML -->
<div class="form-container">
    <h1>Roles Registrados</h1><br />

    <p>
        <a asp-action="Registrar_Rol" class="btn btn-dark">Registrar Nuevo</a>
    </p>

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("NOMBRE")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lista_Roles)
                {
                    <tr>
                        <!-- ATRIBUTOS -->
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>

                        <!-- BOTONES -->
                        <td>
                            <div class="d-flex flex-wrap">
                                <div class="btn-group">
                                    <a asp-action="Editar_Rol" asp-route-id="@item.IdRol" class="btn btn-primary rounded">Editar</a>
                                    <a asp-action="Detalle_Rol" asp-route-id="@item.IdRol" class="btn btn-secondary rounded">Detalles</a>
                                    <a asp-action="Eliminar_Rol" asp-route-id="@item.IdRol" class="btn btn-danger rounded">Eliminar</a>
                                </div>
                                <style>
                                    .btn-group {
                                        display: flex;
                                        gap: 5px;
                                    }

                                    .btn {
                                        flex: 1;
                                        border-radius: 5px;
                                    }
                                </style>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
